<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/base.css">
    <title>Ajouter un catway</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <h1>Ajouter un catway</h1>
        <form action="/catways/add" method="POST">
            <input type="text" name="catwayNumber" placeholder="Numéro du catway" required>
            <input type="text" name="catwayType" placeholder="Type de catway" required>
            <input type="text" name="catwayState" placeholder="État du catway" required>
            <br>
            <button type="submit">Ajouter le catway</button>
        </form>
        <a href="/catways">Retour au tableau de bord des catways</a>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>