<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Catway <%= catway.catwayNumber %></title>
</head>
<body>
    <h1>Détails du Catway n° <%= catway.catwayNumber %></h1>
    <ul>
        <li><strong>Type :</strong> <%= catway.catwayType %></li> <li><strong>État :</strong> <%= catway.catwayState %></li> </ul>

    <a href="/catways">Retour au tableau de bord</a>
</body>
</html>