<!DOCTYPE html>
<html>
<head>
    <title>Créer une API Rest</title>
</head>
<body>
    <h1><%= message %></h1>
    <p>On va maintenant pouvoir connecter MongoDB et gérer les images.</p>
</body>
</html>                         